

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

section{
    overflow: hidden;
}

:root{
    --principal: #00ADB5;
    --secundario:#EEEEEE;
    --clickable: #64ffda;
    --cajas: #112240;
    --textoSecundario: #758197;
  }

a{
    text-decoration: none;
    color: var(--clickable);
}

body{
    /* background-image: radial-gradient(100% 100% at 51.34% 0%, #989696 0%, #696868 15.07%, #4B4949 31.54%, #272727 58.45%, #000000 100%); */
    background: linear-gradient(to right, #243b55, #141e30);
}

.prueba{
    height: 100vh;
}

.contenedor-proyecto{
    width: 100vw;
    height: fit-content;
}

.titulos{
    color: var(--principal);
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
header{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 200;
}

.navbar{
    width: 100%;
     display: flex;
     position: relative;
     justify-content: space-between;
     background-color: #000000;
     border-bottom: 1px solid var(--secundario);
     height: 70px;
}

#navbarPrincipal{
    justify-content: end;
    padding-right: 100px;
}

.show{
    border-bottom: 1px solid white;
}

.navbar-nav{
    height: 100%;
}

.navbar-collapse{
    background-color: black;
}

.linkNavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px 20px;
    font-size: large;
    transition: all 1s ease-in-out;
}

.linkNavbar:hover{
    color: var(--secundario);
}
.linkNavbar:hover .numeroNav{
    color: var(--clickable);
}

.iconos-barra-superior{
    text-decoration: none;
    color: var(--textoSecundario);
    transition: all .3s ease-in-out;
    font-size: 1rem;
    margin-left: 20px;
}

.iconos-barra-superior:hover{
    transform: scale(1.2);
}

.linkNavbar:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    padding-top: 5px;
    margin-top: 3px;
    background-color: var(--secundario);
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.linkNavbar:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.botonNavbar{
    color: var(--secundario);   
    transition: all 0.3s ease-in-out;
}
.botonNavbar:hover{
    transform: rotate(90deg);
}
.fa-xmark{
    color: red;
}

.numeroNav{
    display: inline-block;
    color: var(--secundario);
    margin-bottom: 0;
    padding-right: 8px;
}


/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

#hero{
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
    z-index: -10;
}
.contenedor-hero{
    width: fit-content;
    min-width: 90vw;
    overflow: hidden;
    min-height: 60vh;
    height: fit-content;
    border: 1px solid white;
    border-radius: 4px;
}
.hero-container{
    text-align: center;
}
.hero-container h3{
    color: var(--clickable);
    font-size: 1.5rem;
}
.hero-container h1{
    color: var(--secundario);
    font-size: 5vw;
    margin: 30px 0px;
}
.hero-container p{
    color: var(--textoSecundario);
    font-size: 1.3vw;
}

.botonContacto{
    width: 230px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    white-space: nowrap;
    border: 1px solid white;
    margin-right: 20px;
}
.botonContacto:hover{
    color: var(--secundario);
    border: 3px solid var(--clickable);
    background-color: var(--clickable);
    box-shadow: none; 
}

.botonContacto a{
    font-size: large;
    font-weight: bold;
}

.botonContacto:hover a{
    color: white;
}

.botonContacto:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .botonContacto:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .botonContacto:active {
    top: 2px;
  }

  svg{
    height: 40px;
  }
  .path {
    height: 30px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear alternate infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .tagcloud--item{
    color: white;
  }
/*--------------------------------------------------------------
# Proyectos
--------------------------------------------------------------*/

#proyectos{
    height: fit-content;
    padding-top: 150px;
    width: 100vw;
    overflow: hidden;
}
#contenedor-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-datos-proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.datos-proyecto{
    height: fit-content;
    text-align: center;
}
.contenedor-caracteristicas p{
    display: inline-block;
    border: 1px solid white;
    font-size: 1vw;
    color: white;
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;

}
.descripcion-proyecto{
    color: var(--textoSecundario);
}

.datos-proyecto h1{
    color: var(--secundario);
    font-size: 2vw;
    margin: 30px 0px;
}
.boton-ver-proyecto {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    white-space: nowrap;
    border: 1px solid white;
  }
  .boton-ver-proyecto:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .boton-ver-proyecto:hover {
    color: white;
  }
  .boton-ver-proyecto:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .boton-ver-proyecto:active {
    top: 2px;
  }

.imagen-proyecto{
    border: 1px solid var(--secundario);
    box-shadow: 5px 5px 3px var(--textoSecundario);
}

.fechas-proyecto{
    color: whitesmoke;
}

.separador-proyectos{
    background-color: var(--secundario);
    padding: 2px;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

/*--------------------------------------------------------------
# Proyectos Extra
--------------------------------------------------------------*/
#proyectos-secundarios{
    padding-top: 150px;
    height: fit-content;
    width: 100vw;
    overflow: hidden;
}

#proyectos-secundarios p{
    color: rgb(123, 122, 122);
}

#proyectos-secundarios strong{
    color: rgb(203, 203, 203);
}
.boton-mas-proyectos{
    padding: 5px;
    border: 1px solid white;
    width: fit-content;
    margin-top: 5px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.contenedor-proyecto-extra{
    height: 250px;
    min-height: fit-content;
    box-shadow: 5px 5px 10px whitesmoke;
}

/*--------------------------------------------------------------
# About me
--------------------------------------------------------------*/
.bg-info{
    width: 100vw;
}
#about-me{
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-about{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos-about{
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    display: grid;
    place-items: center;
}

.datos-about li{
    list-style: none;
    width: 100%;
}
#imagen-about{
    width: 600px;
    height: auto;
    box-shadow: 10px 10px var(--principal);
    transition: all 1s ease-in-out;
}

/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/
#contacto{
    padding-top: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor-contacto{
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 9px 9px 10px whitesmoke;
    width: 80%;
}
.informacion{
    display: grid;
    place-content: center;
}
.contenedor-datos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    width: 100%;
}
.icono-redes{
    font-size: 70px;
    padding-right: 30px;
}
.datos{
    text-align: center;
    display: grid;
    place-items: center;
}

.datos p, .datos h4{
    margin: 0;
}
.datos p{
    white-space: nowrap;
}
.boton-enviar-mensaje{
    padding: 9px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    white-space: nowrap;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer{
    height: 50vh;
    width: 100vw;
    display: grid;
    place-content: center;
    grid-auto-columns: 100%;
}

footer{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid white;
}

/*--------------------------------------------------------------
# Pagina respuesta
--------------------------------------------------------------*/

#contenedor-respuesta{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*--------------------------------------------------------------
# Animaciones
--------------------------------------------------------------*/
.ocultar{
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
}

.mostrar{
    opacity: 1;
    filter: blur(0);
}

.ocultar-derecha{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(+100%);
}
.ocultar-izquierda{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}
.mostrar-derecha{
    transition: all 1s;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.nav-item{
    transition:all 1s ease;
}
.nav-item:nth-child(1) {
    transition-delay: 1s;
}
.nav-item:nth-child(2) {
    transition-delay: 0.6s;
}
.nav-item:nth-child(3) {
    transition-delay: 0.3s;
}
.nav-item:nth-child(4) {
    transition-delay: 0s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}




/*--------------------------------------------------------------
# Pruebas
--------------------------------------------------------------*/

